body{
    background-color: black;
}
 .slider-container{
    margin: 0px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  
  .row {
    width: 100%;
    /* display: flex; */
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* gap: 10px; */
  }
  
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
     /* background-color: black; */
    margin-top: 50px;
  }
  
  .slide {
   
        flex: 0 0 auto; /* Prevent slides from growing to fill available space */
    
    display: flex;
    justify-content: center;
    margin: 0; /* Remove any margin */
  }
  
  .img {
    width: 100px;

    max-width: 200px; /* Adjust this as needed */
  }
  
  .slide {
    width: 30%;
    margin: 0px;
  }
  
  .slide img {
    width: 200px;
    /* max-width: 100%; */
    /* height: auto; */
  }
  @media (max-width: 768px) {
    .slider-container {
        flex-direction: row; /* Change to row for smaller screens */
        flex-wrap: wrap; /* Allow images to wrap on smaller screens */
    }
  
    .slide {
        width: 50%; 
        box-sizing: border-box;
        padding: 5px; /* Add some spacing between images */
    }
  }
  
  