/* .foam-main{
    width: 100%;
    height: 100vh;
    background-color: black;

}
.bg-img{
    width: 100%;
    margin-top: 7%;
    height: 555px;
}
.form{
    
    margin-top: -39%;
    margin-left: 27%;
    
}
.black{
    width: 60%;

    
}

.boxh1{
    color: #FFFFFF;
    font-family: Papyrus, fantasy;
    margin-top: -49%;
    margin-left: 16%;
    
    font-size: 38px;
  
}
.boxp{
    color: #FFFFFF;
    margin-left: 16%;
    margin-top: 10px;

}
.lines{
    width: 550px;
    margin-left: 2%;
    color:  #282625;
}
.boxp2{
  color: #C69141;
  margin-left: 33%;
  margin-top: -2.2%;
text-decoration: underline;
}
.p3{
    width:109px;
    color: #FFFFFF;
    margin-left: 16%;
    margin-top: 13px;
}
 .minus{ 

    color: #C69141;
    margin-left: -17px; 
    margin-top: -3.1%;
}
.twoo{
    margin-left: 31%;
/* margin-top: -7%; */
    /* display: flex;
}
.bttn{
    width: 62px;
   margin-left: 12px; 
  
    margin-top: -22px;
    padding: 7px;
    border: 1px solid #282625;
    color: #FFFFFF;
    background-color: transparent;
}
.plus{
    color: #C69141;
    margin-left: 12px; 
    margin-top: -3.1%;
 }
 .max{

    color: #C69141;
    margin-top: -2.8%;
    margin-left: 12px; 
    font-size: 12px;
}
.lines1{
    margin-top: 24px;
    margin-left: 2%;
    width: 550px;
    color:  #282625;
}
.p2nd{
    color: #FFFFFF;
    margin-left: 16%;
    margin-top: 9px;
}
.amm{
    color: #FFFFFF;
    margin-left: 40%;
    margin-top: -1.98%;

}
.lines2{
    margin-top: 29px;
    margin-left: 2%;
    width: 550px;
    color:  #282625;
}
.p3rd{
    color: #FFFFFF;
margin-left: 16%;
margin-top: 20px;
}
.amm1{
    color: #FFFFFF;
    margin-left: 40%;
    margin-top: -19px;
}
.mintbtn{
    width: 220px;
    height: 38px;
    margin-left: 20%;
    margin-top: 23px;
    background-color: #C69141;
    color: #FFFFFF;
    border: none;
}





  */

  /* .amount{
    height: 90vh;
    background-color: black;
    align-items: center;
}
.amount2{
    height: 80vh;
    width: 100%;
    background-image: url('./Images/Mint\ Bg.png');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.amount-form{
    background-color: black;
    width:34%;
    height: 60vh;
    text-align: center;
    color: antiquewhite;
   
}
.level{
    margin-top: 10px;
    border-bottom: 1px solid #282625;
}
.level h3{
    color: #FFF;
    text-shadow: 0px 0px 3.5px #FFF;
    font-family: Walter Turncoat;
    font-size: 30px;
    margin-top: 3px;
    font-style: normal;
    letter-spacing: 2.85px;
}
.level-Flex{
    display: flex;
    margin-top: -15px;
    justify-content: space-evenly;
}
.level-Flex h5{
    color: #FFF;
font-family: Mariupol;
font-size: 10px;
font-style: normal;
font-weight: 700;
margin-top:7% ;
line-height: normal;
letter-spacing: 1.68px;
text-transform: capitalize;
}
.level-Flex p{
    color: #C69141;
    font-family: Mariupol;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
margin-top: 7%;
    line-height: normal;
    letter-spacing: 1.68px;
    text-decoration-line: underline;
    text-transform: uppercase;}
    .buy{
        display: flex;
        border-bottom: 1px solid #282625;
height: 11vh;
margin-top: -10px;
align-items: center;
width: 100%;
        justify-content: space-around;
        font-size: 14px;
    }
    .buy h5{
        letter-spacing: 1.68px;
        color: #C69141;
             

    }
    .buy h3{
                        margin-left: 42px;

    }
    .buy input{ 
        width: 23%;
height:3.8vh;
background-color: transparent;
border: 1px solid gray;

    }
    .token{
        display: flex;
        justify-content: space-around;
        font-size:19px;
        height: 12vh;
        align-items: center;
        border-bottom: 1px solid #282625;

    }
    .token2{
        display: flex;
        justify-content: space-around;
        font-size:19px;
        margin-top: 20px;
     
        align-items: center;
       
    }
    .total button{
        background-color: #C69141;
        padding: 16px;
        padding-left: 30%;
        padding-right:30% ;
        font-family:Mariupol ;
        font-size: 19px;
        margin-top: 38px;
        font-weight: 700;
        line-height:15.41px;
        letter-spacing: 12%;

    }
@media (max-width:700px) {
    
    .amount-form{
        background-color: black;
        width:75%;
        height: auto;
        text-align: center;
      
    }
    h5{
        margin-top: -10px;
        font-size: 10px;

    }
    .level-Flex h5{
font-size: 14px;
margin-top: 40px;
    }
    .level-Flex p{

        margin-top: 12px;
    }
    .buy{
        display: block;
        margin-top: 30px;
        border-bottom: 1px solid burlywood;
    }
 
    .buy h3{
            margin-left: 1px;

    }
    .buy input{ 
        width: 23%;
        background-color: transparent;
        border: 1px solid grey;
height:3.8vh;


    }
    .level-Flex{
        display: block;
      
    }
    button{
    width: 100%;

    }
    .token2{
        display: block;
        height: auto;
    }
    .token{
        display: block;

    }
} */

.background{
    height: auto;
    padding-top: 30px;
    background-color: rgb(27, 23, 23);

}
.pictures{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    background: url('./Images//Mint\ Bg.png')
}
.cartt{
    width: 500px;
    height: 570px;
    flex-shrink: 0;
    border-radius: 2px;
background: #060606;

}
.mint{
    color: #ffff;
    font-family: Papyrus, fantasy ;
    margin-top: 4%;
   text-align: center;
}
.balance{
    width: 500px;
    align-items: center;
    margin-top: 13px;
    /* margin-left: 50px; */
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(34, 34, 34);
}
.my{
    color: #FFF;
font-family: Mariupol;
font-size: 16px;
font-style: normal;
font-weight: 400;
/* margin-left: 20px; */
line-height: normal;
letter-spacing: 1.68px;
text-transform: capitalize;
}
.my span{
    color: #FFF;
font-family: Mariupol;
font-size: 16px;
font-style: normal;
font-weight: 700;

line-height: normal;
letter-spacing: 1.68px;
text-transform: capitalize;
}
.wallet{
    color: #C69141;
font-family: Mariupol;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.68px;
text-decoration-line: underline;
text-transform: uppercase;
}
.border{
    border-bottom: 9px solid rgb(121, 42, 42);
}
.amountSec{
    width: 400px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.amount{
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    /* padding-bottom: 30px; */
    border-bottom: 2px solid rgb(64, 63, 63);
    color: white;
}
.buy{
    color: #FFF;
text-align: justify;
font-family: Mariupol;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19.5px; /* 121.875% */
letter-spacing: 0.8px;
}
.btnn{
    width: 103.456px;
height: 44.738px;
flex-shrink: 0;
background: none;
color: white;
border: 1px solid #282625;
}
.max{
    color: #F0B750;
text-align: justify;
font-family: Mariupol;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19.5px; /* 121.875% */
letter-spacing: 0.8px;
}
.content{
    width: 400px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    width: 500px;
    height: 90px;
    display: flex;
    /* border: 2px solid red; */
    border-bottom: 2px solid rgb(64, 63, 63);
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.token{
    color: #FFF;
text-align: justify;
font-family: Mariupol;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19.5px; /* 121.875% */
letter-spacing: 0.8px;
}
.eth{
    color: #FFF;
text-align: justify;
font-family: Mariupol;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19.5px; /* 121.875% */
letter-spacing: 0.8px;
}
.total{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid pink;s */
    padding-top: 30px;
    
}
.totalPrice{
    width: 400px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    /* font-size: ; */
}
.tp{
    color: #FFF;
text-align: justify;
font-family: Mariupol;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19.5px; /* 121.875% */
letter-spacing: 0.8px;
}
.box{
    width: 400px;
height: 56.979px;
border-radius: 2px;
margin-top: 30px;
color: white;
padding-top: 20px;
text-align: center;
background: #C69141;
color: #FFF;
font-family: Mariupol;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.92px;
text-transform: uppercase;
}
@media (max-width:768px){
    .pictures{
        /* width: 380px; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* flex-direction: ; */
    }
    .cartt{
        width: 300px;
        height: 436px;
        flex-shrink: 0;
        border-radius: 2px;
    background: #060606;
}
.balance{
    width: 300px;
    align-items: center;
    /* margin-left: 50px; */
    /* justify-content: space-evenly; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(34, 34, 34);
}
.my{
    padding: 10px;
font-size: 14px;
font-style: normal;
font-weight: 400;
letter-spacing: 1.48px;
}
.my span{
font-size: 11px;
font-weight: 600;
letter-spacing: 1.48px;

}
.wallet{
    color: #C69141;
font-size: 11px;
font-weight: 600;
letter-spacing: 1.48px;
}
.amount{
    width: 310px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    /* padding-bottom: 30px; */
    border-bottom: 2px solid rgb(64, 63, 63);
    color: white;
}
.amountSec{
    width: 200px;
    flex-direction: column;
    font-size: 11px;
    padding-bottom: 10px;
}
.btnn{
    width: 50px;
height: 25px;
flex-shrink: 0;
background: none;
color: white;
border: 1px solid #282625;
}
.content{
    width: 300px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.price{
    width: 310px;
    height: 70px;
    display: flex;
    /* border: 2px solid red; */
    border-bottom: 2px solid rgb(64, 63, 63);
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.total{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* border: 2px solid pink;s */
    padding-top: 0px;
    
}
.totalPrice{
    width: 300px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    /* font-size: ; */
}

    .box{
        width: 300px;
    /* height: 30.979px; */
    border-radius: 2px;
    margin-top: 5px;
    color: white;
    padding-top: 20px;
    text-align: center;
    background: #C69141;
    color: #FFF;
    font-family: Mariupol;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;
    }

}
