.main {
   /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

.heroo {
    width: 500px;
    height: 430px;
   
}

.horse {
    width: 680px;
    height: 830px;
    margin-left: -40%;
    margin-top: -29%;
}
.texts {

    width: 380px;
    height: 250px;
    margin-left: 5%;
    margin-top: 10%;
}

.H1 {
    font-family: cursive;
    color: #FFFFFF;
}

.P {
    margin-top: 10px;
    font-size: 13px;
    color: #FFFFFF;

}

.buttons {
    margin-top: 13px;
}

.D {
    Width: 120px;
    Height: 41.98px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #8C52A8;
}

.T {
    Width: 120px;
    Height: 41.98px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #248ED4;
    margin-left: 15px;
}

@media(max-width:768px) { 
    .main {
        /* border: 1px solid yellow; */
        /* width: 300px; */
        margin-left: 20px;
    }

    .nav {
        width: 200px;
    }

    .horse {
        display: none;
    }

    .texts {
        width: 700px;
        margin-top: 80px;
        margin-left: 20%;
    }

    .H1 {
         font-size: 29px;
         margin-left: -11%;
         margin-top: -38px;
    } 

    .P {

        margin-left: -18%;
        font-size: 14px;
    }

    .paraa {
        margin-top: 20px;
        width: 230px;
        font-size: 20px;

    }

    .buttons {
        display: flex;
        margin-top: 30px;
        margin-left: -35px;
    }

}