 .main-container{
    background-image: url(./Component/Images/123\ 1.png);
   background-repeat: no-repeat;
    height: 100vh;
    margin-top: -10px; 
  }
 .scroll{
  Width:110px;
/* Height:12px; */
font-size: 12px;
margin-top: -3%;
margin-left: 45%;
color: #FFFFFF;
 }
 .point{
color: #FFFFFF;
margin-top: 5px;
margin-left: 48.2%;
 }
@media(max-width:768px){ 
.main-container{
height: 661px;
}
.hero{
  overflow: hidden; 

}
  .scroll{
    margin-left: 144px;
    margin-top: -36px;
    font-size: 12px;
}
  .point{
    margin-top: 1px;
    margin-left: 46%;
}
}